.container {
	/*height: 100%;
	width: 100%;*/
	position: relative;
}

.outmost-box {
	margin: 0 auto;
	padding: 50%;
	border: 5px solid #000;
	box-shadow: 0 0 20px #888;
}

.red-square {
	padding: 25%;
	margin: 25%;
	margin-top: -75%;
	border: 1px solid red;
}

.red-diamond {
	padding: 25%;
	margin: 25%;
	margin-top: -75%;
	border: 1px solid red;
	transform: rotate(45deg);
}

.large-circle {
	padding: 25%;
	margin: 25%;
	margin-top: -75%;
	border: 1px solid red;
  border-radius: 50%;
}

.vertical-line {
	margin: 25%;
	margin-top: -50%;
	border: 1px solid red;
}

.horizontal-line {
	margin: 25%;
	margin-top: -25%;
	border: 1px solid red;
	transform: rotate(90deg);
}
