body {
	color: #000;
}

.container {
	height: 60%;
	width: 60%;
	position: relative;
	z-index: 0;
}

.outmost-box {
	margin: 0 auto;
	margin-top: 25%;
	height: 50%;
	width: 50%;
	border: 5px solid #000;
	box-shadow: 0 0 50px #000;
	position: relative;
	z-index: 1;
}

.red-square {
	height: 50%;
	width: 50%;
	margin: 25%;
	margin-top: 25%;
	padding-top: 25%;
	border: 1px solid red;
	position: relative;
	z-index: 2;
}

.vertical-line {
	height: 100%;
	width: 100%;
	top: 1px;
	border: 1px solid red;
	position: relative;
	z-index: 0;
}

.horizontal-line {
	height: 100%;
	width: 100%;
	top: 3px;
	margin-bottom: -50%;
	border: 1px solid red;
	transform: rotate(90deg);
	position: relative;
	z-index: 0;
}

.red-diamond {
	height: 100%;
	width: 100%;
	border: 1px solid red;
	transform: rotate(45deg);
	position: relative;
	z-index: 5;
}

.large-circle {
	width: 100%;
	padding: 50%;
	border: 1px solid red;
  border-radius: 50%;
	position: relative;
	z-index: 6;
}

.large-circle p {
	z-index: 11;
}

.one {
	position: relative;
	top: -150px;
	left: -125px;
}

.two {
	position: relative;
	top: -175px;
	right: -125px;
}

.three {
	position: relative;
	top: 100px; /* TODO may have to change size when change font */
	left: -125px;
}

.four {
	position: relative;
	top: 75px;
	right: -125px;
}

.small-circle {
	background-color: #fff;
	text-align: center;
	height: 25px;
	width: 25px;
	margin: 0 auto;
	margin-bottom: -10%;
	border: 1px solid red;
	border-radius: 50%;
	position: relative;
	z-index: 10;
}
