body {
	color: #000;
}
.container {
	/*height: 100%;
	width: 100%;*/
	position: relative;
}

.outmost-box {
	margin: 0 auto;
	padding: 50%;
	border: 5px solid #000;
	box-shadow: 0 0 20px #888;
}

.red-square {
	padding: 25%;
	margin: 25%;
	margin-top: -75%;
	border: 1px solid red;
}

.red-diamond {
	padding: 25%;
	margin: 25%;
	margin-top: -75%;
	border: 1px solid red;
	transform: rotate(45deg);
}

.large-circle {
	padding: 25%;
	margin: 25%;
	margin-top: -75%;
	border: 1px solid red;
  border-radius: 50%;
}

.large-circle p {
	z-index: 11;
}

.one {
	position: relative;
	top: -150px;
	left: -125px;
}

.two {
	position: relative;
	top: -175px;
	right: -125px;
}

.three {
	position: relative;
	top: 100px; /* TODO may have to change size when change font */
	left: -125px;
}

.four {
	position: relative;
	top: 75px;
	right: -125px;
}

.vertical-line {
	margin: 25%;
	margin-top: -50%;
	border: 1px solid red;
	position: relative;
	z-index: -5;
}

.horizontal-line {
	margin: 25%;
	margin-top: -25%;
	border: 1px solid red;
	transform: rotate(90deg);
}

.small-circle {
	background-color: #fff;
	padding: 35px;
	text-align: center;
	/*padding: 5%;*/
	margin: 45%;
	margin-top: -30%;
	border: 1px solid red;
	border-radius: 50%;
	position: relative;
	z-index: 10;
}
